{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_page_edit', {'name': page.name}) }}" class="btn btn-primary mb-3"><i class="fa fa-edit"></i> {{ "edit_page" | trans }}</a>
    {% endif %}
    
    {% apply markdown_to_html %}
        {{ page.content }}
    {% endapply %}
{% endblock %}