<div class="d-flex flex-wrap">
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <p class="me-2"><a class="btn btn-primary" role="button" href="{{ path('videotheque_ajouter') }}"><i class="fa fa-plus-square fa-lg"></i> Ajouter un film</a></p>
        <p class="me-auto"><a class="btn btn-primary" role="button" href="{{ path('videotheque_ajouter_tmdb') }}"><i class="fa fa-plus-square fa-lg"></i> Ajouter par TMDB</a></p>
    {% endif %}
    <p class="">Filtrer par film au dessus de
    <input class="rating"
        data-disabled="false"
        data-show-clear="true"
        data-show-caption="false"
        data-theme="krajee-fa"
        data-toggle="star-filter"
        data-path="#tableFilms"
        style="display:none;"
        min=0
        max=5
        data-step=1
        data-size="sm"
        value="0">
    </p>
</div>