{% extends 'videotheque/base.html.twig' %}

{% block title %}
{% if titre is defined %}{{ parent() }} - {{ titre }}{% else %}{{ parent() }}{% endif %}
{% endblock %}

{% block titre %}
{% if titre is defined %}{{ titre }}{% else %}{{ parent() }}{% endif %}
{% endblock %}

{% block body %}
    {{ form(form) }}

    <table class="table table-bordered table-hover table-striped table-sm align-middle">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Titre</th>
                <th>Date de sortie</th>
                <th>Résumé</th>
                <th>Genre</th>
                <th>Realisateur</th>
            </tr>
        </thead>
        <tbody>
            {% if films | length == 0 %}
                <tr>
                    <td colspan="6" class="text-center">Pas de résultat</td>
                <tr>
            {% endif %}
            {% for idtmdb, film in films %}
            <tr>
                <td><a type="button" class="btn btn-primary" href="{{ path('videotheque_ajouter', {'idtmdb': idtmdb }) }}">Créér</a></td>
                <td>{{ film.titre }}</td>
                <td>{% if film.dateSortie %}{{ film.dateSortie | date ('d/m/Y')}}{% endif %}</td>
                <td>{{ film.information }}</td>
                <td>{% for genre in film.genres %}<span class="badge bg-info me-1">{{ genre.name }}</span>{% endfor %}</td>
                <td>{% for realisateur in film.realisateurs %}<span class="badge bg-info me-1">{{ realisateur.nomComplet }}</span>{% endfor %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}