{% extends "videotheque/base.html.twig" %}

{% block title %}{{ parent() }} - Ajouter un film{% endblock %}
{% block titre %}Ajouter un film{% endblock %}

{% block body %}
	{{ include('videotheque/form.html.twig') }}
{% endblock %}
