    {{ form_start(form, {'attr': {'class': ''}}) }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md">
                {% form_theme form 'bootstrap_5_horizontal_layout.html.twig' %}

                <div class="form-group">
                    {{ form_row(form.titre) }}
                    {{ form_row(form.annee) }}
                    {{ form_row(form.lien) }}
                    {{ form_row(form.dateSortie) }}
                    {% form_theme form 'bootstrap_5_layout.html.twig' %}
                    {{ form_row(form.information) }}

                    {{ form_label(form.mediaVideo, 'Bande annonce') }}
                    {{ form_errors(form.mediaVideo) }}
                    {{ form_widget(form.mediaVideo) }}
                    
                </div>
            </div>
            <div class="col-md">
                <div class="card">
                    <div class="card-header">
                        {{ form_label(form.genres, 'Genres') }}
                    </div>
                    <div class="card-body">
                        <button type="button" id="add_genre" class="btn btn-link add-another-collection-widget mb-3" data-path="{{ path('videotheque_ajax_genres') }}" data-list-selector="#genre-fields-list">Ajouter un genre</button>
                        <ul id="genre-fields-list"
                            data-prototype="{{ form_widget(form.genres.vars.prototype)|e }}"
                            data-widget-tags="{{ '<li class="list-group-item mb-3"></li>'|e }}"
                            data-widget-counter="{{ form.children|length }}">
                            {% for genreField in form.genres %}
                            <li class="list-group-item mb-3">
                                {{ form_widget(genreField) }}
                                {{ form_errors(genreField) }}
                            </li>
                            {% else %}
                                {{ form_widget(form.genres) }}
                                {{ form_errors(form.genres) }}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card">
                    <div class="card-header">
                        {{ form_label(form.realisateurs, 'Réalisateurs') }}
                    </div>
                    <div class="card-body">
                        <button type="button" id="add_realisateur" class="btn btn-link add-another-collection-widget mb-3" data-path="{{ path('videotheque_ajax_realisateurs') }}" data-list-selector="#realisateur-fields-list">Ajouter un réalisateur</button>
                        <ul id="realisateur-fields-list"
                            data-prototype="{{ form_widget(form.realisateurs.vars.prototype)|e }}"
                            data-widget-tags="{{ '<li class="list-group-item mb-3"></li>'|e }}"
                            data-widget-counter="{{ form.children|length }}">
                            {% for realisateurField in form.realisateurs %}
                            <li class="list-group-item mb-3">
                                {{ form_widget(realisateurField) }}
                                {{ form_errors(realisateurField) }}
                            </li>
                            {% else %}
                                {{ form_widget(form.realisateurs) }}
                                {{ form_errors(form.realisateurs) }}
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}


