{% extends "videotheque/base.html.twig" %}

{% block title %}{{ parent() }} - Modifier un film{% endblock %}
{% block titre %}Modifier un film{% endblock %}

{% block body %}
	{{ include('videotheque/form.html.twig') }}
{% endblock %}

