{% extends "videotheque/base.html.twig" %}

{% block title %}{{ parent() }} - Supprimer un film{% endblock %}
{% block titre %}{{ parent() }} - Supprimer{% endblock %}

{% block body %}
    <h2>Confirmation ?</h2>
    <p>Êtes vous certain de vouloir supprimer le film "{{ film.titre }}" ?</p>
    <form action="{{ path('videotheque_supprimer', {'id': film.id}) }}" method="post">
        <a href="{{ path('videotheque_voirfilm', {'id': film.id}) }}" class="btn btn-secondary">
            <i class="fa fa-chevron-circle-left"></i>
            Retour à la fiche du film
        </a>
        {# Ici j'ai écrit le bouton de soumission à la main #}
        <input type="submit" value="Supprimer" class="btn btn-danger" />
        {# Ceci va générer le champ CSRF #}
        {{ form_rest(form) }}
    </form>
{% endblock %}
