{% extends 'base.html.twig' %}

{% block title %}En attente{% endblock %}

{% block body %}
    <h1>En attente de validation</h1>
    <p>Votre demande d'activation a été envoyé à l'administrateur qui la prendra en charge rapidement.</p>
    <p>Pour rappel, cette application est réservée à mes connaissances, je me réserve donc le droit de refuser l'activation du compte.</p>
    <p>Merci de votre compréhension.</p>
    <a href="{{ path('videotheque_liste') }}" class="btn btn-link">Retour à la liste des films</a>
{% endblock %}
