{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Récupérer mot de passe{%  endblock %}
{% block titre %}Récupérer mot de passe{%  endblock %}

{% block body %}
    <h2>Veuillez entrer votre adresse mail</h2>
    {{ form(form) }}
{% endblock %}