{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Créer un utilisateur{%  endblock %}
{% block titre %}Création d'un utilisateur{%  endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        {{ form(form) }}
    </div>
    <a href="{{ path('admin_index') }}" class="btn btn-link" role="button">Retour à la liste</a>
{% endblock %}