{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - S'identifier{%  endblock %}
{% block titre %}Identification{%  endblock %}

{% block body %}
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <label for="inputUsername" class="sr-only">Login</label>
                    <div class="input-group mb-3">
                        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Login" required autofocus>
                    </div>
                    <label for="inputPassword" class="sr-only">Mot de passe</label>
                    <div class="input-group mb-3">
                        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
                    </div>
                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html
                    #}
                        <div class="checkbox mb-3">
                            <input type="checkbox" name="_remember_me">
                            <label for="remember_me">Se souvenir de moi</label>
                        </div>
                    

                    <button class="btn btn-primary mb-3" type="submit">
                        Se connecter
                    </button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="hr">
                <p>Pas de compte ? <a href="{{ path('security_register') }}">S'enregistrer</a></p>
                <p>Mot de passe oublié ? <a href="{{ path('security_envoyertoken') }}">Récupérer mot de passe</a></p>
            </div>
        </div>
{% endblock %}
