Bonjour,

L'utilisateur {{ user.username }} vient de s'enregistrer sur la vidéothèque.
Veuillez vérifier les informations ci-dessous et vous assurer qu'il s'agit d'une connaissance.

Nom : {{ user.nom }}
Prénom : {{ user.prenom }}
Mail : {{ user.mail }}

Accéder au compte utilisateur : {{ lien }}

-- 
L'administrateur tout puissant
