{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Changer de mot de passe{%  endblock %}
{% block titre %}Changer de mot de passe{%  endblock %}

{% block body %}
    <h2>Vous pouvez changer de mot de passe ici</h2>
    <div class="d-flex justify-content-center">
        {{ form(form) }}
    </div>
{% endblock %}