{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - S'enregistrer{%  endblock %}
{% block titre %}S'enregistrer{%  endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        {{ form(form) }}
    </div>
{% endblock %}