{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Supprimer un utilisateur{% endblock %}
{% block titre %}Supprimer un utilisateur{% endblock %}

{% block body %}
    <h2>Confirmation ?</h2>
    <p>Êtes vous certain de vouloir supprimer l'utilisateur "{{ user.username }}" ?</p>
    <form action="{{ path('admin_deluser', {'id': user.id}) }}" method="post">
        <a href="{{ path('admin_index') }}" class="btn btn-secondary">
            <i class="fa fa-chevron-circle-left fa-lg"></i>
            Retour à la liste des utilisateurs
        </a>
        {# Ici j'ai écrit le bouton de soumission à la main #}
        <input type="submit" value="Supprimer" class="btn btn-danger" />
        {# Ceci va générer le champ CSRF #}
        {{ form_rest(form) }}
    </form>
{% endblock %}
