{% extends "videotheque/base.html.twig" %}

{% block title %}{{ parent() }} - Liste des genres{% endblock %}
{% block titre %}Liste des genres{% endblock %}

{% block body %}
	<p><a href="{{ path('genre_ajouter') }}" class="btn btn-primary" role="button">Ajouter un Genre</a></p>
<table class="table table-bordered table-hover table-sm">
	<thead class="thead-dark">
		<tr>
			<th>Genre</th>
			{#<th>Films</th>#}
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for genre in genres %}
		<tr>
			<td>{{ genre.name }}</td>
			<td>
				{% if is_granted('ROLE_MODERATEUR') %}
				<a href="{{ path('genre_supprimer', {'id': genre.id})  }}"><i class="fa fa-trash", style="color:Tomato;"></i></a>
				{% endif %}
				<a href="{{ path('genre_modifier', {'id': genre.id})  }}"><i class="fa fa-edit", style="color:DodgerBlue;"></i></a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
