{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Modifier un genre{% endblock %}
{% block titre %}Genre - Modifier{% endblock %}

{% block body %}
	<div class="row">
		<div class="col">
			{{  form_start(form) }}
			{{ form_rest(form) }}
			<button class="btn btn-primary" type="submit" formmethod="post">Enregistrer</button>
			<a class="btn btn-danger" href="{{ path('genre_supprimer', {'id': genre.id}) }}">Supprimer</a>
			{{  form_end(form) }}

		</div>
		<div class="col">
			<h2>Liste des films de ce genre</h2>
			<ul>
				{% for film in films %}
					<li><a href="{{ path('videotheque_voirfilm', {'id': film.id}) }}">{{ film.titre }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>

{% endblock %}
