{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Supprimer un genre{% endblock %}
{% block titre %}Genre - Supprimer{% endblock %}

{% block body %}
    <h2>Confirmation ?</h2>
    <p>Êtes vous certain de vouloir supprimer le genre "{{ genre.name }}" ?</p>
    <form action="{{ path('genre_supprimer', {'id': genre.id}) }}" method="post">
        <a href="{{ path('genre_liste', {'id': genre.id}) }}" class="btn btn-secondary">
            <i class="fa fa-chevron-circle-left fa-lg"></i>
            Retour à la liste des genres
        </a>
        {# Ici j'ai écrit le bouton de soumission à la main #}
        <input type="submit" value="Supprimer" class="btn btn-danger" />
        {# Ceci va générer le champ CSRF #}
        {{ form_rest(form) }}
    </form>
{% endblock %}
