{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Ajouter un réalisateur{% endblock %}
{% block titre %}Réalisateur - Ajouter{% endblock %}
{% block body %}
    {{  form_start(form) }}
    {{ form_rest(form) }}
	<button class="btn btn-primary my-3" type="submit" formmethod="post">Enregistrer</button>
    {{  form_end(form) }}

{% endblock %}
