{% extends "videotheque/base.html.twig" %}

{% block title %}{{ parent() }} - Liste des réalisateurs{% endblock %}
{% block titre %}Liste des réalisateurs{% endblock %}

{% block body %}
	<p><a href="{{ path('realisateur_ajouter') }}" class="btn btn-primary" role="button">Ajouter un réalisateur</a></p>
<table class="table table-bordered table-hover table-sm">
	<thead class="thead-dark">
		<tr>
			<th>Nom</th>
			<th>Films</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for realisateur in realisateurs %}
		<tr>
			<td>{{ realisateur.nomComplet }}</td>
			<td>
			{% if realisateur.films is defined %}
				<ul>
				{% for film in realisateur.films %}
					<li><a href="{{ path('videotheque_voirfilm', {'id': film.id}) }}">{{  film.titre }}</a></li>
				{% endfor %}
				</ul>
			{% endif %}
			</td>
			<td>
				{% if is_granted('ROLE_ADMIN') %}
				<a href="{{ path('realisateur_supprimer', {'id': realisateur.id})  }}"><i class="fa fa-trash fa-lg text-danger"></i></a>
				{% endif %}
				<a href="{{ path('realisateur_modifier', {'id': realisateur.id})  }}"><i class="fa fa-edit fa-lg text-primary"></i></a>


			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
