{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Modifier un film{% endblock %}
{% block titre %}Réalisateurs - Modifier{% endblock %}

{% block body %}
	<div class="d-flex justify-content-around">
		<div class="">
			{{  form_start(form) }}
			{{ form_rest(form) }}
			<button class="btn btn-primary my-3" type="submit" formmethod="post">Enregistrer</button>
			{{  form_end(form) }}
		</div>
		<div class="">
			<h2>Liste des films de ce réalisateur</h2>
			<ul>
				{% for film in realisateur.films %}
					<li><a href="{{ path('videotheque_voirfilm', {'id': film.id}) }}">{{ film.titre }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>

{% endblock %}
