{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Supprimer un film{% endblock %}
{% block titre %}Réalisateurs - Supprimer{% endblock %}

{% block body %}
    <h2>Confirmation ?</h2>
    <p>Êtes vous certain de vouloir supprimer le réalisateur "{{ realisateur.nomComplet }}" ?</p>
    <form action="{{ path('realisateur_supprimer', {'id': realisateur.id}) }}" method="post">
        <a href="{{ path('realisateur_liste', {'id': realisateur.id}) }}" class="btn btn-secondary">
            <i class="fa fa-chevron-circle-left fa-lg"></i>
            Retour à la liste des réalisateurs
        </a>
        {# Ici j'ai écrit le bouton de soumission à la main #}
        <input type="submit" value="Supprimer" class="btn btn-danger" />
        {# Ceci va générer le champ CSRF #}
        {{ form_rest(form) }}
    </form>
{% endblock %}
