{% form_theme form 'bootstrap_5_horizontal_layout.html.twig' %}
{{ form_start(form) }}
<div class="">
    {{ form_row(form.view) }}
</div>
<div class="mb-3">
    {{ form_widget(form.save) }}
    <a href="{{ path('videotheque_liste') }}" class="btn btn-danger" role="button">Annuler</a>
    {{ form_rest(form) }}
</div>