{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Mes préférences{%  endblock %}
{% block titre %}Modifier mes préférences{%  endblock %}

{% block body %}
    {{ include ('profil/form.preferences.html.twig') }}
{% endblock %}