{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Mon profil{%  endblock %}
{% block titre %}Modifier mon profil{%  endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-4">
    {{ form(form) }}
    <a href="{{ path('videotheque_liste') }}" class="btn btn-link" role="button">Retour à l'accueil</a>
            </div>
        </div>
    </div>
{% endblock %}