{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Préférences utilisateur{%  endblock %}
{% block titre %}Modifier les options de {{ user.nomComplet }}{%  endblock %}

{% block body %}
    {{ include ('profil/form.preferences.html.twig') }}
{% endblock %}