{% for commentaire in commentaires %}
    <a class="list-group-item list-group-item-action" href="{{ path ("videotheque_voirfilm", {'id': commentaire.film.id}) }}"><small>{{ commentaire.dateSubmitted | date("d/m/Y H:i") }} : Nouveau commentaire de {{ commentaire.user.username }} sur le film <strong>{{ commentaire.film.titre }}</strong></small></a>
{% endfor %}