<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Videothèque{% endblock %}</title>
		{{ encore_entry_link_tags('app') }}
		{% block stylesheets %}{% endblock %}

		{{ encore_entry_script_tags('app') }}
		{% block javascripts %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
		<div class="container">
			<header>
				{% include 'flashbag.html.twig' %}
				{% include 'navbar.html.twig' %}
				{% include 'modal.html.twig' %}
				<nav class="navbar">
					<div class="nav-item">
						<h1>{% block titre %}{% endblock %}</h1>
					</div>
				</nav>
			</header>			
				
			<main role="main">
				{% block body %}{% endblock %}
			</main>

			<footer class="footer">
				{% include 'footer.html.twig' %}
			</footer>
		</div>


		
    </body>
</html>
