<div class="position-fixed top-5 end-0 p-2" style="z-index: 11">
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            {% if type == 'error' %}{% set type = 'danger' %} {% endif %}
                <div id="liveToast" class="toast bg-gradient bg-{{ type }} text-white" role="alert" aria-live="assertive" aria-atomic="true" {{ stimulus_controller('toast') }}>
                    <div class="toast-header">
                    <strong class="me-auto">Info</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        {{ message }}
                    </div>
                </div>
        {% endfor %}
    {% endfor %}
</div>