<div class="text-center fixed-bottom bg-white">
    <span class="text-muted small">Certaines informations sont issues de l'API de <a href="https://www.themoviedb.org">TMDB</a></span>
    <br><span class="text-muted small">Code source disponible sur <a target="_blank" href="https://gogs.fdlibre.eu/sangfroid/films-symfony-4-2">Gogs</a> - Licence <a target="_blank" href="http://www.wtfpl.net">WTFLP</a></span>
</div>
    
{% block footer %}{% endblock %}