<!-- Modal -->
<div class="modal fade" id="modalWindow" tabindex="-1" role="dialog" aria-labelledby="ModalWindow" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="information">Vidéothèque partagée</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
        </div>
        <div class="modal-body">
            <p>
                Ceci est une vidéothèque partagée entre les copains.
                Le but, c'est de poser les films qu'on vient de voir où qu'on souhaite voir rapidement et donner des idées aux copains quand ils ne savent plus quoi regarder.
            </p>
            <p>
                On n'est pas là pour recréer IMDB ou Allociné, c'est plutôt une liste de films à voir.
            </p>
            <p>
                D'ailleurs, le but, c'est de cocher les boutons
                <i class="fa fa-eye fa-lg text-success"></i> ou <i class="fa fa-eye-slash fa-lg text-secondary"></i> 
                    pour que les autres sachent qui a vu quoi et le bouton <i class="fa fa-bookmark text-primary"></i>
                    pour suivre un film, ça permet de trier les films dans l'onglet "Ma liste de films".
            </p>
            <p>
                Bon partage à tous !
            </p>
            <p>
                La bise dans vous.
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
        </div>
    </div>
</div>