{% extends "base.html.twig" %}

{% block title %}{{ parent() }}Erreur 500{% endblock %}
{% block titre %}Erreur 500{% endblock %}
{% block body %}
   <p>Une erreur serveur s'est glissée dans le bouzin !</p>
   <p>Vous savez où me contacter pour que je répare mes conneries.</p>
{% endblock %}
