{% extends "base.html.twig" %}

{% block title %}{{ parent() }}Erreur 404{% endblock %}
{% block titre %}Erreur 404{% endblock %}
{% block body %}
   <p>La page demandée n'existe pas, il faut aller voir ailleurs petit lapin.</p>
{% endblock %}
